

header {
    display: flex;    
    align-items: center;
    
    

}
nav {       
    background-color: black;
    
    /* border-radius: 10em; */
    max-height: 100px;
    width: 100%;
    
    
}

ul.navlist {
    align-items: center;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    
       
}

li {
    
    padding: 20px;
    margin: 10px;    
    text-align: center;
      
       
}

.linhaTempo {
    border-right: 1px solid #EAEAEA;
}


div img {
    /*background-color: lightslategrey;*/
    max-height: 100px;
    width:30px;
    padding: 20px;
    margin: 10px;   
    
}

button.botaoNav {
    /*border-color: rgba(119, 136, 153, 0.411);
    border-radius: 10em;*/
    border: none;
    border-radius: 10em;
    background: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    
    
    
}

.usuario {
    margin-left: auto;
    color: white;
}




button:hover {
    background: rgba(214, 63, 85, 0.404);
}

button:active {
    background: lightseagreen;
}






